.places {
    inline-size: 100%;
}
.places_card {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places_info {
    inline-size: 390px;
    margin: 20px;
    padding: 20px;
    border: solid 1px #ff5a5f;
    border-radius: 4px;
    text-align: center;
}
.places_info h2 {
    font-size: 3.0rem;
}
